---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ALPHAB.iO: Agent Smart">
	<main>
		<h1 id="heading" class="hide">ALPHAB.iO</h1>
		<div id="cube-container">
			<div id="cube">
				<div class="face front"></div>
				<div class="face back"></div>
				<div class="face right"></div>
				<div class="face left"></div>
				<div class="face top"></div>
				<div class="face bottom"></div>
			</div>
		</div>
	</main>
</Layout>
