---
import Layout from "../layouts/Layout.astro";

const id = Math.floor(Math.random() * 40) + 1;
const img = `${id}.jpg`;
---

<Layout title="Intelligent DevOps">
	<main>
		<h1>alphab</h1>
		<div id="bg">
			<a href={img} target="_blank">
				<img src={img} />
			</a>
		</div>
	</main>
</Layout>
