---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agent Smart">
	<main>
		<h1>alphab</h1>
		<div class="cube-container">
			<div class="cube">
				<div class="face front"></div>
				<div class="face back"></div>
				<div class="face right"></div>
				<div class="face left"></div>
				<div class="face top"></div>
				<div class="face bottom"></div>
			</div>
		</div>
	</main>
</Layout>
