---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Intelligent DevOps">
	<main>
		<h1>alphab.io</h1>
		<p>Redefining DevOps for the modern era</p>
		<p>Intelligent Agent Automation</p>
		<p>👀 Coming soon!!</p>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;

		font-family: lobster two;
		background: rgb(30, 130, 230);
		color: white;
		text-shadow: 0 8px 0 #bbb;
		font-size: 8rem;
		padding: 0 2rem;
		margin: 0.5em 0;
	}
	p {
		margin: 1em auto;
		background: rgba(var(--accent-light), 10%);
		border: 1px solid #fff;
		padding: 1.5rem;
		border-radius: 8px;
		text-align: center;
		max-width: 300px;
	}
</style>
