---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Redefining DevOps for the modern era. Alphab.io brings AI-powered automation to streamline your development processes. Coming soon!"
		/>
		<meta
			name="keywords"
			content="Intelligent DevOps, Alphab.io, AI solutions, streamline, workflow"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+JP:wght@900&display=swap");
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		background: url(loading.jpg) center center no-repeat;
	}
	/*
  5. Improve media defaults
*/

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html,
	body {
		margin: 0;
		box-sizing: border-box;
		font-family: system-ui, sans-serif;
		background: #fff;

		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: #f0f0f0;
		overflow: hidden;
	}

	main {
		margin: 0 auto;
		line-height: 1.6;
		position: relative;
	}

	@media (width > 2024px) {
		/* main {
			width: 2024px;
		} */
		main h1 {
			font-size: 12vw;
		}
	}
	h1 {
		background: #fff;
		font-size: 6vw;
		font-weight: 900;
		line-height: 1;
		text-transform: uppercase;
		font-family: "Anton", sans-serif;
		color: #c93c4c;
		padding: 2rem 4rem;
		margin: 0;
		position: fixed;
		top: 40vh;
		left: 10vw;
		z-index: 2;
		box-shadow:
			rgba(0, 0, 0, 0.19) 0px 10px 20px,
			rgba(0, 0, 0, 0.23) 0px 6px 6px;
		border: 1rem #c93c4c;
		border-style: double;
		/* border-radius: 4rem; */
	}

	.cube-container {
		perspective: 50px;
		width: 200px;
		height: 200px;
	}

	.cube {
		position: relative;
		transform-style: preserve-3d;
		width: 100%;
		height: 100%;
		animation: rotateCube 12s linear infinite;
	}

	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 2px solid #333;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		color: white;
		color: #c93c4c;
		animation: growAndShrink 3s ease-in-out infinite;
	}

	.front {
		background-color: rgba(0, 0, 255, 0.7);
		transform: rotateY(0deg) translateZ(100px);
	}

	.back {
		background-color: rgba(255, 0, 0, 0.7);
		transform: rotateY(180deg) translateZ(100px);
	}

	.right {
		background-color: rgba(0, 255, 0, 0.7);
		transform: rotateY(90deg) translateZ(100px);
	}

	.left {
		background-color: rgba(255, 255, 0, 0.7);
		transform: rotateY(-90deg) translateZ(100px);
	}

	.top {
		background-color: rgba(255, 0, 255, 0.7);
		transform: rotateX(90deg) translateZ(100px);
	}

	.bottom {
		background-color: rgba(0, 255, 255, 0.7);
		transform: rotateX(-90deg) translateZ(100px);
	}

	@keyframes rotateCube {
		from {
			transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
		}

		50% {
			transform: rotateY(180deg) rotateX(360deg) rotateZ(360deg);
		}

		to {
			transform: rotateY(360deg) rotateX(720deg) rotateZ(720deg);
		}
	}

	@keyframes growAndShrink {
		0%,
		100% {
			width: 200px;
			height: 200px;
		}

		50% {
			width: 300px;
			height: 300px;
		}
	}
</style>
